.com-popup-border{
    border-image: url('/images/ui/popup-border.png') 20% / 1 / 0 stretch;
    border-style: solid;
    border-width: 0.2rem;
    image-rendering: pixelated;
    border-radius: 0.8rem;
}

.com-btn-border{
    border-image: url('/images/ui/btn-border.png') 20% / 1 / 0 stretch;
    border-style: solid;
    border-width: 0.2rem;
    image-rendering: pixelated;
    border-radius: 0.8rem;
}